*{             
    padding: 0;       
    margin: 0;    
}         

:root{      
    --gradiant-color:linear-gradient(rgba(59, 25, 139, 0.888),#100f10, #2976b5);                                    /*we give double color we use linear gradient and give rgb color and hexa color */
    --background-color:#1469b843;
    --primary-color:#000000;

}
 
body{
    font-family: 'saira', cursive;                                                                                    /* give font family */
    background-color: var(--background-color);
    border: 2rem solid transparent;
    border-image: linear-gradient(95deg,rgba(138, 148, 159, 0.738),#27458546);
    border-image-slice: 2;
}

/*Nav bar*/

nav{                
    width: 100%;       
    height: 100%;
    display: flex;
    color: var(--primary-color);
    background-color: var(--background-color);
    top: 0;
    left: 0;
    position: sticky;
    z-index: 1;
}

.logo{
    width: 35%;
    height: 100px;
}

.logo h1{
    line-height: 100px;
    padding-left: 10rem;
    font-size: 2.5rem;
}

ul{
    color: var(--primary-color);
    background-color: var(--background-color);
}

.Items{                  
    width: 50%;
    height: 5vh;    
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    color: var(--background-color);
    background-color: var(--gradiant-color);
    list-style: none;      
    padding-top: 2rem;
}

.Items li a{
    font-size: 1.5rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: var(--primary-color);
}

.font{
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
    padding-top: 2rem;                   
    background: var(--gradiant-color);   
    -webkit-background-clip: text;      
    -webkit-text-fill-color:transparent; 
    text-transform: uppercase;

}

.font h2{
    padding-top: 10rem;
}

h4{
    font-size: 1.5rem;
    text-align: center;
    background: #a38010;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    padding-top: 1.5rem;
    text-justify: newspaper;
    text-transform:none;
    
}

.font h3{
    font-weight: bolder;
    font-size: 2rem;
    text-align: top;
    padding-top: 1.5rem;
    background: var(--primary-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}


.font h5{
    font-weight: bolder;
    font-family: 'cursive',serif;
    font-size: 1.5rem;
    text-align: left;
    padding-top: 2rem;
    background: #a38010;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: none;
    text-justify: distribute-all-lines;
}

/*Hero section*/

#hero{
    height: 40rem;   
}

/*About section*/
#about-img{
    width: 35rem;
    height: 25rem;
}

.about-heading{
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.about-body{
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}

.about-content{
    padding-left: 3rem;
    padding-right: 3rem;
}

/*services section*/
.services-heading{
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.services{
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 5rem;
    
}
.font i {
  color: #4CAF50; 
}

/*Articles*/

.article-img{
    width: 30rem;
    height: 15rem;
}

.article-heading{
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.article-1{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 0.5fr 0.5 fr;
    grid-row-gap: 1rem;
    grid-column-gap: 5rem;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;

}

.article-2{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 0.5fr 0.5 fr;
    grid-row-gap: 1rem;
    grid-column-gap: 5rem;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
}

.article-3{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 0.5fr 0.5 fr;
    grid-row-gap: 1rem;
    grid-column-gap: 5rem;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
}

/* footer */

.footer-heading{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.footer-body{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10rem;
}


